@import "tailwindcss";

@theme {
  --color-primary: #dc2626;
  --color-dark: #000;
  --color-secondary: #9ca3af;
  --color-third: #121212;

    /* container */
  --container-padding: 16px;

  /* screens / breakpoint */
  --breakpoint-2xl: 1320px;
}

@layer component {
  .container {
    @apply mx-auto px-4;
  }

  .navbar-fixed {
    @apply fixed z-9999 bg-dark/20 backdrop-blur-sm;
    box-shadow: inset 0 -1px 0 0 rgba(255, 0, 0, .2);
  }

  .hamburger-line {
    @apply w-[30px] h-[2px] my-2 block bg-primary;
  }

  .hamburger-active > span:nth-child(1) {
    @apply rotate-45;
  }

  .hamburger-active > span:nth-child(2) {
    @apply scale-0;
  }

  .hamburger-active > span:nth-child(3) {
    @apply -rotate-45;
  }

  #dark-toggle:checked ~ label div.toggle-circle {
    @apply translate-x-3;
  }
}